<div class="container">
      <h2 class="titulo-preinscripcion" data-aos='fade-up'>Pre-Inscripción Ccbol 2017</h2>
   <div class="row row-form">

    <div class="col-md-7 info-text">
      <p class="p-info-text animated fadeInLeft">Los datos proporcionados en el formulario, serán utilizados para la elaboración de los certificados correspondientes.</p>
      <p class="animated fadeInLeft">El costo de la inscripción es de 300 bs.</p>
      <p class="animated fadeInLeft">El pago correspondiente se realizara en ambientes de  la Facultad de Tecnología USFX, el día 11 de Septiembre.</p>
      <p>
        <p class="text-center animated data-pre-inscritos jello"><span class="dataCount">{{ dataCount.message }}</span> <span class="dataText"> {{ dataCountText }}</span></p>
        <p>* Si llenaste el formulario de Pre-inscripción, puedes generar nuevamente tu código.</p>
        <a href="./generarbarcode"  id="btn-send" class="btn btn-center btn-transparent-gmail btn-block-maps btn-new-qr">Generar barcode</a>   
      </p>
    </div>
    <div class="col-md-5 col-form">
      <div class="container-preinscripcion animated fadeInRight">
      <form name="frmUser"
      ng-submit="guardar( userSel,type,frmUser )"
      novalidate="novalidate" style="padding:15px;">
           <h3 class="tit-form-pre-ins">Formulario de pre-inscripción</h3>
        <div>

          <div class="form-group">
            <label>Nombres </label>
            <input type="text" class="form-control" placeholder="Nombres"
                ng-model="userSel._name" required>
          </div>

          <div class="form-group">
            <label>Apellidos </label>
            <input type="text" class="form-control" placeholder="Apellidos"
                ng-model="userSel._last_name" required>
          </div>

          <div class="form-group">
            <label>CI</label>
            <input type="text" class="form-control" placeholder="CI"
                ng-model="userSel._ci" ng-maxlength="13" required>
          </div>

          <div class="form-group">
            <label>Correo</label>
            <input type="email" class="form-control" placeholder="ejemplo@algo.algo"
                ng-model="userSel._email" required>
          </div>

          <div class="form-group row">
            <div class="col-sm-8">
                  <label>Ciudad </label>
                  <input type="text" name="city" id="city" ng-model="userSel._city" ng-keyup="completeCity(userSel._city)" class="form-control" placeholder="Ciudad" autocomplete="off" required />
                  <ul class="list-group margin-top-0" ng-model="hidethis" ng-hide="hidethis">
                      <li class="list-group-item select2" ng-repeat="citydata in filterCity" ng-click="fillTextboxCity(citydata)">{{citydata}}</li>
                  </ul>
            </div>
          </div>

          <div class="form-group">
            <input type="radio" id="est" ng-model="type" value="vest">
            <label for="est"> Estudiante </label> 
            <input type="radio" id="prof" ng-model="type" value="vprof">
            <label for="prof"> Profesional </label>
          </div>

          <div ng-show="type == 'vest' ">
            <div class="form-group row animated flipInX">
              <div class="col-sm-8">
                    <label>Universidad </label>
                    <input type="text" name="college" id="college" ng-model="userSel._college" ng-keyup="completeCollege(userSel._college)" class="form-control" placeholder="Universidad"/>
                    <ul class="list-group margin-top-0" ng-model="hidethisCollege" ng-hide="hidethisCollege">
                        <li class="list-group-item select2" ng-repeat="collegeData in filterCollege" ng-click="fillTextboxCollege(collegeData)">{{collegeData}}</li>
                    </ul>
              </div>
            </div>

            <div class="form-group row animated flipInX">
              <div class="col-sm-8">
                    <label>Carrera </label>
                    <input type="text" name="carrera" id="carrera" ng-model="userSel._career" ng-keyup="completeCareer(userSel._career)" class="form-control" placeholder="Carrera"/>
                    <ul class="list-group margin-top-0" ng-model="hidethisCareer" ng-hide="hidethisCareer">
                        <li class="list-group-item select2" ng-repeat="careerData in filterCareer" ng-click="fillTextboxCareer(careerData)">{{careerData}}</li>
                    </ul>
              </div>
            </div>
          </div>

          <div ng-show="type == 'vprof' ">
            <div class="form-group animated flipInX">
              <label>Profesión </label>
              <input type="text" class="form-control" placeholder="Profesión"
                  ng-model="userSel._professional_degree">
            </div>
          </div>
          
          <div class="form-group">
                        <div
                vc-recaptcha
                theme="'light'"
                key="userSel.key"
                on-create="setWidgetId(widgetId)"
                on-success="setResponse(response)"
                on-expire="cbExpiration()"
            ></div>
          </div>
  

          <div class="form-group">
            <button type="submit" id="btn-send" ng-class="classTop" class="btn btn-center btn-transparent-gmail">


              <svg ng-show="!loader" version="1.1" xmlns="http://www.w3.org/2000/svg" width="20px" viewBox="0 0 1024 1024">
              <title></title>
              <g id="icomoon-ignore">
              </g>
              <path fill="#000" d="M1009.376 5.12c-5.312-3.424-11.36-5.12-17.376-5.12-6.176 0-12.384 1.76-17.76 5.376l-960 640c-9.888 6.56-15.328 18.112-14.048 29.952 1.216 11.808 8.896 22.016 19.936 26.368l250.368 100.192 117.728 206.016c5.632 9.888 16.096 16 27.424 16.128 0.128 0 0.224 0 0.352 0 11.232 0 21.664-5.952 27.424-15.552l66.464-110.816 310.24 124.064c3.808 1.536 7.808 2.272 11.872 2.272 5.44 0 10.816-1.376 15.68-4.128 8.448-4.736 14.24-13.056 15.872-22.624l160-960c2.080-12.576-3.488-25.184-14.176-32.128zM100.352 664.864l741.6-494.432-539.2 577.184c-2.848-1.696-5.376-3.936-8.512-5.184l-193.888-77.568zM326.048 770.112c-0.064-0.128-0.16-0.192-0.224-0.32l606.176-648.8-516.768 805.184-89.184-156.064zM806.944 947.488l-273.312-109.312c-6.496-2.56-13.248-3.424-19.936-3.808l420.864-652.416-127.616 765.536z"></path>
              </svg>



              <svg ng-show="loader" width="41px"  height="41px"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;"><g transform="rotate(0 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(30 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(60 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(90 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(120 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(150 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(180 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(210 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(240 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(270 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(300 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
              </rect>
            </g><g transform="rotate(330 50 50)">
              <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#28292f">
                <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
              </rect>
            </g></svg>

              <span ng-show="!loader">
                Registrar
              </span>
            </button>
          </div>

          <p>{{  dataResponse.message }}</p>
          <p class="animate fadeIn">{{  resolvRecaptcha }}</p>
        </div>


          <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6LdwgCwUAAAAAFdgtXnF1qYWrVl6lxSl_frWu3Ck"></div>
          </div>
      </form> 
      </div>

    </div>
  </div> 
  <!-- <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <img src="assets/img/not-fount-min.png" class="img-responsive" alt="">
      <h2 class="text-center">Ups!! estamos trabajando..</h2>
    </div>
  </div>
</div> -->

        <br><br>
        <footer>
            <center><span>CCBOL SUCRE 2017</span></center>
        </footer>
        <br><br>