<nav>
    <section class="nav-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 navigation-col__logo">
                    <div class="logo__wrapper-table">
                        <div class="logo__wrapper-cell">
                            <a href="#">
                                <img class="logo__image" src="assets/img/logo-ccbol-2017.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 navigation-col__links hidden-xs hidden-sm">
                    <ul>
                        <li><a  ng-click="logOut()">Salir</a></li>
                    </ul>
                </div>
                <div class="col-xs-offset-10 col-xs-2 visible-xs visible-sm">
                    <span id="icon-menu"></span>
                </div>
            </div>
        </div>

    </section>
    <section id="menu-xs-sm" class=" visible-xs visible-sm" data-active='false'>
        <div class="menu">
            <ul class="menu-items">
                <li class="menu-item"><a ng-click="logOut()">Salir</a></li>
        </div>
    </section>
</nav>

<section class="container" ng-show="!successAccess">
    <div class="row">
        <h1 class="text-center">No tienes Autorizacion para esta aqui!</h1>
    </div>
</section>
<section class="container" ng-show="successAccess"> 
    <div class="row">
        <h1>Registro</h1>
        
        <div class="col-md-4">
          <div class="form-group">
            <label>Codigo </label>
            <input type="text" ng-model="barcode" class="form-control" autofocus  ng-keydown="sendDataUser()" name="myInput"  required>
             <h1>{{ barcode }}</h1>
          </div>
           <br><br>
           <span ng-show="loader">Buscando..</span>
        </div>
        <div class="col-md-8">
            <section ng-show="loader">
                    <p>Cargando ...</p>
            </section>
            <section ng-show="dataError">
                <p>No se Encontro el Registro</p>
            </section>   
            <section ng-show="viewStudent">
                <h3>Datos Personales</h3>
                <p> <b>Nombre:</b> {{ dataUser._name }}</p>
                <p> <b>Apellidos:</b> {{ dataUser._last_name }}</p>
                <p> <b>Ci:</b> {{ dataUser._ci }}</p>
                <p> <b>Ciudad:</b> {{ dataUser._city }}</p>
                <p> <b>Universidad:</b> {{ dataUser._college }}</p>
                <p> <b>Carrera:</b> {{ dataUser._career }}</p>
                <p> <b>Cargo:</b> {{ dataUser._cargo }}</p>
                <h3 ng-show="dataUser._paid  === '0' " > <b></b> <span style="background: turquoise;">NO PAGADO</span> </h3>
                <h3 ng-show="dataUser._paid  === '1' " > <b></b> <span style="background: turquoise;">NO BECADO</span> </h3>
                <h3 ng-show="dataUser._paid  === '2' " > <b></b> <span style="background: turquoise;">BECADO</span> </h3>
                <h3 ng-show="dataUser._paid  === '3' " > <b></b> <span style="background: turquoise;">MEDIA BECA</span> </h3>
                <button class="btn btn-transparent-gmail btn-update" ng-click="showModalEditStudent(dataUser)"> Editar Datos</button>
                <button class="btn btn-transparent-gmail btn-paid" ng-show="paidSuccess"  ng-click="paid(dataUser)"> Registrar Pago </button>
                <h3 ng-show="!paidSuccess">La persona fue correctamente acreditada</h3>
                <!-- <p>{{ dataPaidUser }}</p> -->
            </section>   
            <section ng-show="viewProfesional">
                <h3>Datos Personales</h3>
                 <p> <b>Nombre:</b> {{ dataUser._name }}</p>
                <p> <b>Apellidos:</b> {{ dataUser._last_name }}</p>
                <p> <b>Ci:</b> {{ dataUser._ci }}</p>
                <p> <b>Ciudad:</b> {{ dataUser._city }}</p>
                <p> <b>Profesion:</b> {{ dataUser._professional_degree }}</p>
                <h3> <b>Cargo:</b> <span style="background: turquoise;">{{ dataUser._cargo }}</span> </h3>
                <h3 ng-show="dataUser._paid  === '0' " > <b></b> <span style="background: turquoise;">NO PAGADO</span> </h3>
                <h3 ng-show="dataUser._paid  === '1' " > <b></b> <span style="background: turquoise;">NO BECADO</span> </h3>
                <h3 ng-show="dataUser._paid  === '2' " > <b></b> <span style="background: turquoise;">BECADO</span> </h3>
                <h3 ng-show="dataUser._paid  === '3' " > <b></b> <span style="background: turquoise;">MEDIA BECA</span> </h3>
                <button class="btn btn-transparent-gmail btn-update" ng-click="showModalEditProfesional(dataUser)"> Editar Datos</button>
                <button class="btn btn-transparent-gmail btn-paid" ng-show="paidSuccess" ng-click="paid(dataUser)"> Registrar Pago </button>
                <h3 ng-show="!paidSuccess">La persona fue correctamente acreditada</h3>
                <!-- <p>{{ dataPaidUser }}</p> -->
            </section>    

        </div>
    </div>
</section>

<div id="modalStudent" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
        <h4 class="modal-title name-hotel-modal">Datos Generales</h4>
      </div>
      <div class="modal-body">
        <form name="frmStudent" ng-submit="editStudentData(studentEdit,frmStudent)">
            <div class="form-group">
            <label>Nombres </label>
                <input type="text" class="form-control" placeholder="Nombres"
                    ng-model="studentEdit._name" required>
            </div>
            
            <div class="form-group">
                <label>Apellidos </label>
                <input type="text" class="form-control" placeholder="Apellidos"
                    ng-model="studentEdit._last_name" required>
            </div>
            
            <div class="form-group">
                <label>CI</label>
                <input type="text" class="form-control" placeholder="CI"
                    ng-model="studentEdit._ci" ng-maxlength="13" required>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-8">
                    <label>Ciudad </label>
                    <input type="text" name="city" id="city" ng-model="studentEdit._city" ng-keyup="completeCity(studentEdit._city)" class="form-control" placeholder="Ciudad" autocomplete="off" required />
                    <ul class="list-group margin-top-0" ng-model="hidethis" ng-hide="hidethis">
                        <li class="list-group-item select2" ng-repeat="citydata in filterCity" ng-click="fillTextboxCity(citydata)">{{citydata}}</li>
                    </ul>
                </div>
            </div>  
            
            <div class="form-group row animated flipInX">
              <div class="col-sm-8">
                    <label>Universidad </label>
                    <input type="text" name="college" id="college" ng-model="studentEdit._college" ng-keyup="completeCollege(studentEdit._college)" class="form-control" placeholder="Universidad"/>
                    <ul class="list-group margin-top-0" ng-model="hidethisCollege" ng-hide="hidethisCollege">
                        <li class="list-group-item select2" ng-repeat="collegeData in filterCollege" ng-click="fillTextboxCollege(collegeData)">{{collegeData}}</li>
                    </ul>
              </div>
            </div>

            <div class="form-group row animated flipInX">
              <div class="col-sm-8">
                    <label>Carrera </label>
                    <input type="text" name="carrera" id="carrera" ng-model="studentEdit._career" ng-keyup="completeCareer(studentEdit._career)" class="form-control" placeholder="Carrera"/>
                    <ul class="list-group margin-top-0" ng-model="hidethisCareer" ng-hide="hidethisCareer">
                        <li class="list-group-item select2" ng-repeat="careerData in filterCareer" ng-click="fillTextboxCareer(careerData)">{{careerData}}</li>
                    </ul>
              </div>
            </div>
             <div class="form-group">
                <label>Cargo</label>
                <select name="repeatSelectCargoS" class="form-control" 
                id="repeatSelectCargoS" 
                ng-model="studentEdit._cargo"
                ng-init=" repeatSelect = dataS[0].name"  
                ng-options="option.name as option.name for option in dataS" ng-selected="studentEdit._cargo">          
                </select>
            </div>     
            <div class="form-group">
                <label>Becado</label>
                <select name="repeatSelectBecadoS" class="form-control" 
                id="repeatSelectBecadoS" 
                ng-model="studentEdit._paid"
                ng-init=" repeatSelect = dataSBeca[0].name"  
                ng-options="option.id as option.name for option in dataSBeca" ng-selected="studentEdit._paid">          
                </select>
            </div>   
            <br><br> 

            <button type="submit" class="btn btn-transparent-gmail btn-update"> Editar</button>
            <br>
            <br>
            <p>{{ studentEdit }}</p>
            <span ng-show="loaderUpdateStudent">Cargando...</span>    
            <span ng-show="!loaderUpdateStudent">{{ dataUpdateStudent.respuesta }}</span>


        </form>
      </div>

    </div>

  </div>
</div>

<div id="modalProfesional" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
        <h4 class="modal-title name-hotel-modal">Datos Generales</h4>
      </div>
      <div class="modal-body">
        <form name="frmProfesional" ng-submit="editProfesionalData(profesionalEdit)">
            <div class="form-group">
            <label>Nombres </label>
                <input type="text" class="form-control" placeholder="Nombres"
                    ng-model="profesionalEdit._name" required>
            </div>
            
            <div class="form-group">
                <label>Apellidos </label>
                <input type="text" class="form-control" placeholder="Apellidos"
                    ng-model="profesionalEdit._last_name" required>
            </div>
            
            <div class="form-group">
                <label>CI</label>
                <input type="text" class="form-control" placeholder="CI"
                    ng-model="profesionalEdit._ci" ng-maxlength="13" required>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-8">
                    <label>Ciudad </label>
                    <input type="text" name="city" id="city" ng-model="profesionalEdit._city" ng-keyup="completeCity2(profesionalEdit._city)" class="form-control" placeholder="Ciudad" autocomplete="off" required />
                    <ul class="list-group margin-top-0" ng-model="hidethis" ng-hide="hidethis">
                        <li class="list-group-item select2" ng-repeat="citydata in filterCity" ng-click="fillTextboxCity2(citydata)">{{citydata}}</li>
                    </ul>
                </div>
            </div>  
            
            <div class="form-group animated flipInX">
              <label>Profesión </label>
              <input type="text" class="form-control" placeholder="Profesión"
                  ng-model="profesionalEdit._professional_degree ">
            </div>

             <div class="form-group">
                <label>Cargo</label>
                <select name="repeatSelect2" class="form-control" 
                id="repeatSelect2" 
                ng-model="profesionalEdit._cargo"
                ng-init=" repeatSelect = dataP[0].name"  
                ng-options="option.name as option.name for option in dataP" ng-selected="profesionalEdit._cargo" >          
                </select>
            </div> 
             <div class="form-group">
                <label>Beca</label>
                <select name="repeatSelect2" class="form-control" 
                id="repeatSelect2" 
                ng-model="profesionalEdit._paid"
                ng-init=" repeatSelect = dataPBeca[0].name"  
                ng-options="option.id as option.name for option in dataPBeca" ng-selected="profesionalEdit._paid" >          
                </select>
            </div>                 

            <br><br>               
            <button type="submit" class="btn btn-transparent-gmail btn-update"> Editar</button>
            <br><br>
            {{  profesionalEdit }}
            <span ng-show="loaderUpdatePro  ">Cargando...</span>    
            <span ng-show="!loaderUpdatePro ">{{ dataUpdatePro.respuesta  }}</span>


        </form>
      </div>

    </div>

  </div>
</div>